<%= provide :title, @category.name %>
<h1><%= t "category.show-page.profile" %></h1>
<div class="row">
    <section class="category_info">
      <p><%= t "category.show-page.name" %><%= @category.name %></p>
    </section>
</div>
