<li>
  <div class="pull-left"><%= link_to author.name, author %></div>
  <div class="pull-right">
    <%= link_to t("author.edit"), edit_admin_author_path(author) %>
      | <%= link_to t("author.delete"), admin_author_path(author),
        method: :delete, data: {confirm: t("author.sure")} %>
  </div>
  <div class="clearfix"></div>
</li>
