<%= provide :title, t("books") %>
<div class="page-header">
  <h1><%= t "books.list" %></h1>
</div>
<hr>
<div class="container">
  <div class="row">
    <%= render @books %>
  </div>
</div>

<%= will_paginate %>
