<% provide :title, t("users.edit-page.title") %>
<% provide :button_text, t("users.edit-page.button") %>
<h1><%= t "users.edit-page.update" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form" %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">
        <%= t "users.edit-page.change" %>
      </a>
    </div>
  </div>
</div>
