<footer class="footer">
  <small>
    <%= t "layouts.info" %><%= link_to t("layouts.group"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.about"), :page => "about" %></li>
      <li><%= link_to t("layouts.contact"), :page => "contact" %></li>
    </ul>
  </nav>
</footer>
